# Development files
.eslintrc.js
/.editorconfig
/.eslintignore
/.gitattributes
/.github
/.travis.yml
/test

# Coverage created files
/.nyc_output
/coverage

# Resource files
/external-resources

# build generate files
/dist
/translation
/download
